/** 
 * Generic
 */

html {
    font-size: $typographic-root-font-size;
}

body {
    margin: 0 0 0 calc(100vw - 100%);
    font-family: $typographic-font-family;
    color: var(--typographic-base-font-color);
    line-height: $typographic-base-line-height;
    font-size: $typographic-base-font-size;
    text-rendering: optimizeLegibility;
    background-color: var(--bg);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
}

body.light {
    --bg: #FFF;
    --color-base: #222;
    --color-primary: #5d93ff;
    --color-secondary: #f7a046;
    --color-gray: hsl(var(--color-base), 40%);
    --color-gray-20: hsl(var(--color-gray), 20%);
    --color-gray-border:hsl(var(--color-gray), 77%);
    --typographic-base-font-color: var(--color-base);
    --typographic-link-p-font-color: var(--color-primary);
    --typographic-link-s-font-color: var(--color-secondary);
    --bg-secondary: #e4e4e4;
    --hr: hsla(0, 0%, 0%, 0.2);
    --inlineCode-bg: rgba(255, 229, 100, 0.2);
    --inlineCode-text: #1a1a1a;
    --form-shadow: 0 2px 15px 0 rgba(210, 214, 220, 0.5);
}

body.dark {
    --bg: #282c35;
    --color-base: #d3d3d3;
    --color-primary: #5d93ff;
    --color-secondary: #f7a046;
    --color-gray: hsl(var(--color-base), 40%);
    --color-gray-20: hsl(var(--color-gray), 20%);
    --color-gray-border:hsl(var(--color-gray), 77%);
    --typographic-base-font-color: var(--color-base);
    --typographic-link-p-font-color: var(--color-primary);
    --typographic-link-s-font-color: var(--color-secondary);
    --bg-secondary: #33374279;
    --hr: hsla(0, 0%, 100%, 0.2);
    --inlineCode-bg: rgba(115, 124, 153, 0.2);
    --inlineCode-text: #e6e6e6;
    --form-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $typographic-font-family;
    font-weight: 600;
}

h1 {
    font-size: $typographic-base-font-size * 2.5;
    @include line-height(2);
    @include margin-top(4);
    @include margin-bottom(1);
}

h2 {
    font-size: $typographic-base-font-size * 1.6875;
    @include line-height(1.5);
    @include margin-top(2);
    @include margin-bottom(.5);
}

h3 {
    font-size: $typographic-base-font-size * 1.375;
    @include line-height(1);
    @include margin-top(2);
    @include margin-bottom(.5);
}

h4 {
    font-size: $typographic-base-font-size * 1.2;
    @include line-height(1);
    @include margin-top(1.5);
    @include margin-bottom(.5);
}

h5 {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin-top(2.5);
    @include margin-bottom(.5);
}

h6 {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin-top(2.5);
    @include margin-bottom(.5);
}

img {
    border: 0;
    max-width: 100%;
    display: block;
    margin: inherit auto;
}

hr {
    margin-top: 52px;
    margin-bottom: 52px;
    border: 0;
    color: var(--hr);
    display: block;
    height: 26px;
    margin-right: auto;
    margin-left: auto;
    background-size: 100% 26px;
    background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, var(--hr) 11px, var(--hr) 15px, transparent 15px, transparent 26px);
    width: 100px;
}

a {
    color: var(--typographic-link-p-font-color);
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: var(--typographic-link-s-font-color);
    }
}

b,
strong {
    font-weight: 600;
}

ul {
    list-style: square;
    @include margin-bottom(1);

    & li {
        padding: 0 5px;
        margin-bottom: 10px;
    }
}

p {
    @include line-height(1);
    @include margin-bottom(1);
}

blockquote {
    padding: 0;
    font-style: italic;
    text-align: center;
}

figure {
    display: block;
    width: 100%;
    height: auto;
}

figcaption {
    @include line-height(.75);
    @include margin-top(.25);
    color: var(--color-base);
    font-size: $typographic-small-font-size;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
}

.anchor {
    margin-left: -30px !important;
    padding-right: 14px !important;
}

@include breakpoint-sm {

    figure.float-left,
    figure.float-right {
        max-width: 310px;
        @include padding(0, 1, 0, 1);
    }

    .float-right {
        float: right;
    }

    .float-left {
        float: left;
    }

}
