<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i> Career Profile</h2>
<div class="summary">
    <p>Full-Stack Web Developer, with experience on ASP.NET MVC, Django, Xamarin, SignalR, C#, MongoDB, NodeJS, Angular and ANSI SQL. </p>
</div><!--//summary-->
</section><!--//section-->

<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i> Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance developer &amp Consultant</h3>
                            <div class="post-meta time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="post-meta company">freelancer.com</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Designed and implemented dynamic Web content and Web-server application using MySQL/MongoDB, ASP.NET Core MVC, AJAX, Web services, SignalR, JQuery, REST/GraphQL and Simple Object Access Protocol (SOAP) </p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical assistant</h3>
                            <div class="time post-meta">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company post-meta">Universidad de Carabobo</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Maintenance of FTP servers, testing embedded devices (microcontrollers and DSP) in specific: the development board TMS320C5505 Texas instrument. Configuring IP surveillance cameras.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
 </section><!--//section-->

<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i> Education</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Telecommunications Engineer</h3>
                            <div class="post-meta time">2017</div>
                        </div><!--//upper-row-->
                        <div class="post-meta company">Universidad de Carabobo</div>
                    </div><!--//meta-->
                    <div class="details">
                       <p><b>Main subjects</b>: Digital Communication and Information Theory, Communication Electronics, Optical Fiber Communication, Microprocessor and Assembly Language, Digital Signal Processing, Antenna and Microwave Engineering, Communication Management</p>

                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Scientific diploma</h3>
                            <div class="time post-meta">2005 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company post-meta">Colegio Teresiano</div>
                    </div><!--//meta-->
                    <div class="details">
                          <p><b>Main subjects</b>: Matematics, Physics and Computer Science.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
 </section><!--//section-->

<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-cogs"></i>Certifications</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">American English Course</h3>
                            <div class="post-meta time">Now</div>
                        </div><!--//upper-row-->
                        <div class="post-meta company">FUNDAUC, Naguanagua</div>
                    </div><!--//meta-->
                    <div class="details">
                    <p>English course.</p>
                    </div>
                    </div><!--//details-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Deep Learning</h3>
                            <div class="time post-meta">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company post-meta">Udacity E-Learning</div>
                    </div><!--//meta-->
                    <div class="details">
                          <p>Train and optimize basic neural networks, convolutional neural networks,and long short term memory networks.</p>
                    </div>
                  </div>
                    
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Developing Scalable Apps in Python</h3>
                            <div class="time post-meta">06/15 - 12/15</div>
                        </div><!--//upper-row-->
                        <div class="company post-meta">Udacity E-Learning</div>
                    </div><!--//meta-->
                    <div class="details">
                          <p>Build applications that can serve hundreds of thousands of users, and how can prepare for them as a developer.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->

    <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intro to Machine Learning</h3>
                            <div class="time post-meta">01/15 - 06/15</div>
                        </div><!--//upper-row-->
                        <div class="company post-meta">Udacity E-Learning</div>
                    </div><!--//meta-->
                    <div class="details">
                          <p>Extract and identify useful features that best represent data, a few of the most important machine learning algorithms, and how to evaluate the performance of machine learning algorithms.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
 </section><!--//section-->

 <section class="skills-section section">
     <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
     <div id="frameworks"></div>
     <div id="languages"></div>
     <div id="tools"></div>
 </section><!--//skills-section-->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/Charts.js"></script>