<!-- javascript at the end of the doc so page loads faster -->
<!-- Javascript -->          
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  "HTML-CSS": {
    availableFonts: ["Neo Euler"],
    preferredFonts: "Neo Euler"
  },
  messageStyle: "none"
});
</script>
<script type="text/javascript" src={{ '/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}></script>
<script type="text/javascript" src={{ '/js/jq_mathjax_parse.js' | prepend: site.baseurl }}></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/Charts.js"></script>



