---
layout: default
---

<div class="card">
  {% if site.tags[page.slug] %}
    {% for post in site.tags[page.slug] %}
      {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% if forloop.first %}
        <h3 class="fa fa-calendar"> {{ post_year }}</h3>
        <div>
      {% endif %}
      {% unless forloop.first %}
        {% assign previous_index = forloop.index0 | minus: 1 %}
        {% capture previous_post_year %}{{ site.tags[page.slug][previous_index].date | date: '%Y' }}{% endcapture %}
        {% if post_year != previous_post_year %}
          </div>
          <h3 class="fa fa-calendar"> {{ post_year }}</h3>
          <div class="list-group">
        {% endif %}
      {% endunless %}
           <span class="post-title">
      <a href="{{ post.url }}" >
        <h4>{{ post.title }}</h4>
      </a>
      </span>
      <p class="post-content">{{ post.content | split:'<!--break-->' | first }}<small><a class="post-meta" href="{{ post.url }}">[Continue reading]</a></small></p>
        </div>
    {% endfor %}
  {% else %}
    <p>There are no posts in this tag.</p>
  {% endif %}
</div>