---
layout: default
---

<section class="post-list">
  {% for post in paginator.posts %}
    {% include article.html %}
  {% endfor %}
 <div class="card">
     <div>
        <img style="display: block; margin: 0 auto;" alt="building now" src="/images/constr.png">
     </div>
     <p></p>
     <h1>Sorry, this page is under construction</h1>
     <p>Hey, sorry, I'm building this page, coming soon will be avalible. Try <a href="/" title="Jesus Santander homepage">going back to the homepage for now</a>, or use the navigation menu above to find what you're looking for.</p>
</div>
  {% include pagination.html %}
</section>
